body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 20px;
}

ol, ul {
  padding-left: 30px;
}


.card {
  background: #fff;
  border:1px solid #999;
  float:left;
  font-size:14px;
  height:50px;
  width:30px;
  padding:40px;
  text-align:center;
  margin:20px 20px;
}

.card:hover {
  height:54px;
  width:34px;
}

.card:focus {
  outline: none;
}

.game {
  display: flex;
  flex-direction: row;
}


.board-row:after {
  clear: both;
  content: "";
  display: table;
}
