@import url('https://fonts.googleapis.com/css?family=Gaegu:400');


@keyframes pop-in {
  0%  { 
    transform: scale(.5, .5);
    opacity: 0; 
  }
  40% { opacity: 1; }
  65% { transform: scale(1.1, 1.1); }
  100% { transform: scale(1, 1); }
}

@keyframes beat {
  0% {
    transform: scale(1);
  }
  25% {
    transform: scale(1.05);
  }
  40% {
    transform: scale(1);
  }
  60% {
    transform: scale(1.05);
  }
  100% {
    transform: scale(1);
  }
}

#root {
  width:80%;
  margin:auto;
}

html {
  background: url(img/poohbg.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body {
  font-family: 'Gaegu', cursive;
}

ol, ul {
  padding-left: 30px;
}

.overflow {
  overflow:hidden;
}

.hide {
  display:none;
}

.modal {
  background-color: white;
  padding: 35px 40px;
  text-align: center;
  border-radius:10%;
  width:200px;
  height:100px;
  margin:auto;
  margin-left:-15px;
  margin-top:-350px;
  z-index: 4;
  animation-name: pop-in;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  color:slategray;
  font-size:2em;
  box-shadow: 0 10px 10px rgba(50,50,50,.2);
}

.modal img {
  width:300px;
  margin-top:-33px;
}

.modal button {
  background-color: #666699;
  border: none;
  border-radius:5%;
  color: white;
  padding: 16px 32px;
  text-align: center;
  font-size: 0.5em;
  text-transform:uppercase;
  margin: 15px 2px;
  opacity: 0.6;
  transition: 0.3s;
  display: inline-block;
  text-decoration: none;
  cursor: pointer;
   font-family: 'Gaegu', cursive;
  letter-spacing:1px;
}

.modal button:hover {
  opacity:0.4;
  transform:scale(1.1);
}
.container {
    cursor: grab;
    position: relative;
    height: 125px;
    width: 100px;
    perspective: 600;
    float:left;
    transition: transform 2s ease-in-out;
    margin:10px;
}


.check:hover {
  transform: rotateX(20deg);
  box-shadow: 0 10px 10px rgba(50,50,50,.2);
}


.card {
   height: 100%;
   width: 100%;
   position: absolute;
   transform-style: preserve-3d;
   transition: all 1s ease-in-out;
   border-radius:5%;


}

.card img {
  width:100px;
  height:125px;
  border-radius:5%;

}

.flipcard {
    transform: rotateX(180deg);
}

.side {
    backface-visibility: hidden;
    border: 3px solid #ddf3ec;
    border-radius:5%;
    height: 100%;
    position: absolute;
    overflow: hidden;
    width: 100%;
}

.back {
    transform: rotateX(180deg);
    cursor: auto !important;

    border:0px !important;
    box-shadow: 1px 2px 4px lightslategray;
}

.matched .back img {
  cursor:auto;
  animation: 1s beat;
  animation-delay:1s;
}

.game {
  width:75%;
  margin: auto;
  padding:50px;
  display: flex;
  flex-direction: column;
}

.greyed {
  transition-delay:2s;
  transition: all 1s;
  opacity:0.6;
  z-index:-2;
  animation: 1s beat;
  animation-delay:1.5s;
}

.instructions {
  color:white;
  text-align:center;
  font-size:28px;
  word-spacing:-3px;
  letter-spacing:-2px;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}


/* On screens that are 400px or less */
@media screen and (max-width: 400px) {

html {
  background: url(img/poohbgmobile.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
 }

 .instructions {
  font-size:22px;
  word-spacing:-3px;
  letter-spacing:-2px;
}

    #root {
    width:100%;
    margin-bottom:80px;
    margin-top:45px;
  }
    .container {
      width: 66px;
      height: 83px;
      margin:5px;
  }

    .card img {
    width:66px;
    height:83px;
  }

  .board-row {
    padding-top:20px;
    padding-left:7px;
  }
  .game {
    width:250px;
    padding:0px; 
  }

}

/* On screens that are 400px or more */
@media screen and (min-width: 400px) {

  #root {
  width:100%;
}

  .container {
    width: 66px;
    height: 83px;
    margin:5px;
}

  .card img {
  width:66px;
  height:83px;
}

.board-row {
  padding-top:30px;
  padding-left:15px;
}

.game {
  width:335px;
  padding:20px;
}

.modal {
  margin:auto;
  margin-top:-250px;
  width:170px;
  height:80px;
 
}

.modal img {
  width:325px;
}

.modal button {
  padding: 10px 25px;
  margin: 15px 2px;
}

}

/* On screens that are 600px or more */
@media screen and (min-width: 600px) {

  .container {
    width: 83px;
    height: 104px;
    margin:5px;
  }

  .card img {
  width:83px;
  height:104px;
  }

  .board-row {
  padding-top:15px;
  padding-left:15px;
  }

 .game {
  width:400px;
  padding:20px;
  }

.modal img {
  width:300px;
}

}

/* On screens that are 900px or more */
@media screen and (min-width: 900px) {

  .container {
    width: 100px;
    height: 125px;
    margin:10px;
}

  .card img {
  width:100px;
  height:125px;
}

.board-row {
  padding-top:15px;
  padding-left:15px;
}

.game {
  width:500px;
  padding:20px;
}

.modal {
  margin-top:-330px;
  width:170px;
  height:80px;
}

.modal img {
  width:350px;
}

}

@media screen and (min-width: 1200px) {

  .container {
    width: 120px;
    height: 150px;
    margin:10px;
}

  .card img {
  width:120px;
  height:150px;
}

.board-row {
  padding-top:15px;
  padding-left:15px;
}

.game {
  width:600px;
  padding:20px;
}

.modal {
  margin-top:-380px;
  width:275px;
  height:80px;
}

.modal img {
  width:400px;
  margin-top:-40px;
}

}

